<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    
    
    <!-- mysql数据库 -->
    <bean id="mysqldataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
    
    <!-- sqlserver数据库 -->
    <bean id="sqlserverdataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${sqlserver.jdbc.driverClassName}" />
        <property name="url" value="${sqlserver.jdbc.url}" />
        <property name="username" value="${sqlserver.jdbc.username}" />
        <property name="password" value="${sqlserver.jdbc.password}" />
    </bean>
    
    <!-- 动态数据源配置 -->
    <bean id="dataSource" class="tlb.mall.common.util.annotation.dynamicDataSource.DynamicDataSource">
        <property name="targetDataSources">  
              <map key-type="java.lang.String">  
                 <entry key="mysql" value-ref="mysqldataSource"/>  
                 <entry key="sqlserver" value-ref="sqlserverdataSource"/>  
              </map>  
              
        </property>
        <!-- 默认连接的是mysql数据库 -->
        <property name="defaultTargetDataSource" ref="mysqldataSource"/>
    </bean>
    
    
	<bean id="sqlSessionFactory" class="tlb.mall.user.dao.autoconfig.MyBatisConfig2">
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<array>
				<value>classpath*:tlb/mall/user/dao/**/*Mapper.xml</value>
			</array>
		</property>
		<property name="typeAliasesPackage" value="tlb.mall.entity" />
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">     <!-- 通用分页配置 -->
					<property name="properties">
						<value>
							dialect=mysql
							reasonable=true
							rowBoundsWithCount=true
							pageSizeZero=true
						</value>
					</property>
				</bean>
			</array>
		</property>
	</bean>

	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="pers.zb.ucenter.dao" />
	</bean>


	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 注解方式配置事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>